@use 'blocks/promo';
@use 'blocks/header';
@use 'base/variables';
@use 'blocks/buttons';
@use 'blocks/advantages';
@use 'blocks/titles';
@use 'blocks/consultation';
@use 'blocks/forms';
@use 'blocks/carousel';
@use 'blocks/catalog';
@use 'blocks/feed';
@use 'blocks/footer';
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');


* {
    font-family: 'MuseoModerno', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}