@use '../base/variables' as vars;
.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left {
        color: vars.$text_color;
        font-size: 36px;
        text-align: left;
    }
}